<div id="app">
    <ul>
        <li v-for="product in products">
            {{ product.quantity }} {{ product.name }}
            <span v-if="product.quantity === 0">
                - OUT OF STOCK
            </span>
        </li>
    </ul>
</div>

<script src="https://unpkg.com/vue"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            products: [
                //'GMK Classic Red',
                //'KBD75v2 Case',
                //'KBD75v2 PCB'
                ]
        },
        created() {
            fetch('https://api.myjson.com/bins/74l63')
                .then(response => response.json())
                .then(json => {
                    this.products = json.products
                })
        }
    })
</script>